* { 
	margin: 0; 
	padding: 0; 
}
body { 
	font: 14px/1.4 Georgia, Serif; 
}
#page-wrap {
	margin: 50px;
}
p {
	margin: 20px 0; 
}

	/* 
	Generic Styling, for Desktops/Laptops 
	*/
	table { 
		width: 100%; 
		border-collapse: collapse; 
	}
	/* Zebra striping */
	tr:nth-of-type(odd) { 
		background: #eee; 
	}
	th { 
		background: #333; 
		color: white; 
		font-weight: bold; 
	}
	td, th { 
		padding: 6px; 
		border: 1px solid #ccc; 
		text-align: left; 
	}
	 /* product table */
	  .tds {
		font-family: 'Times New Roman', Times, serif;
		color:rgb(69, 104, 71);
		font-size: x-large;
	  }
	  .white{
		color:white;
	  }

	  .navfontcolor{
		color:rgb(132, 194, 173);
	  }

	