doctype html
html
    head
        //- link(rel='stylesheet', href='css/styles.css')
        link(rel="stylesheet", href="http://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css")
        //- script(src="js/validations.js")
        title Registration Form
    body
        .row.justify-content-center
            div.col-md-12
                div.card-body
                    block content
    footer.row.justify-content-center
         div.col-md-6
            block footer
            
