doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport', content='width=device-width, initial-scale=1.0')
  meta(http-equiv='X-UA-Compatible', content='ie=edge')
  title Availability Form
  link(rel='stylesheet' href='css/login.css')
  link(rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous")
  style.
    body {
    background-color:lightgray;
    }
body
  .col-sm-5.mx-auto.my-12
    .card.text-center(style='background-color:rgb(132, 194, 173);')
      .card-header.d-inline-flex.mx-auto
            form(method="POST" action='/logout')
              button.btn.btn-style.btn-light(type='') Logout
            form(method="GET" action='/productlist')
              button.btn.btn-style.btn-dark(type='') Cancel
      .card-body
        h5.card-title UFARM PRODUCT APPROVE FORM
        form.tm-login-form(action='/produce/approve/?id='+product._id name='productupdate' method='POST')
          .form-group
            label(for='productimage') #{product.productname}:  .
            img.rounded(src="/"+product.productimage, alt="Image" width='150px' height="150px") 
          .form-group
            label(for='status') Change to
            select.rounded(name='status')
                option(value="Pending" selected = product.status === "Pending") Pending
                option(value="Approved" selected = product.status === 'Approved') Approved
          .form-group
            button.btn.btn-dark.d-inline-block.mx-auto(type='submit') Approve
          .form-group
            p
              em press Approve to save changes
      footer.row.tm-mt-big
        .col-12.font-weight-light.text-center
          p.d-inline-block.tm-bg-black.text-white.py-2.px-4
            | &copy; Massajja Urban farmers initiative. All rights reserved
      .card-footer.text-muted.mx-auto
        | market at your door

      
      
      
