doctype html
head
  meta(charset='utf-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  title U-farm
  meta(name='viewport' content='width=device-width, initial-scale=1')
  link(rel='stylesheet' href='https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css')
  link(rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous")
  link(href='bootstrap/css/bootstrap.css' rel='stylesheet')
  link(rel='stylesheet' type='text/css' media='screen' href='css/main.css')
  link(href='../css/produce.css' rel='stylesheet')
// navbar
nav.fixed-top.navbar.navbar-expand-lg.bg-green.navcolor(;='')
  .container-fluid
    a.navbar-brand#selector(href='#') &#217;&#646;ARM
    button.navbar-toggler(type='button', data-bs-toggle='collapse', data-bs-target='#navbarText', aria-controls='navbarText', aria-expanded='false', aria-label='Toggle navigation')
      span.navbar-toggler-icon
    #navbarText.collapse.navbar-collapse
      ul.navbar-nav.me-auto.mb-2.mb-lg-0
        li.nav-item
          a.nav-link.white(aria-current='page', href='#') Home
        li.nav-item
          a.nav-link(href='/seelistedlist') Market
    .dropdown.pb-4
      a#dropdownUser1.d-flex.align-items-center.text-black.text-decoration-none.dropdown-toggle(href='#', data-bs-toggle='dropdown', aria-expanded='false')
        a.btn.btn-success(href='/login') Login
// Carousel
#demo.carousel.slide(data-bs-ride='carousel' carousel-caption='' align-items-center='' d-flex='')
  // Indicators/dots
  .carousel-indicators
    button.active(type='button', data-bs-target='#demo', data-bs-slide-to='0')
    button(type='button' data-bs-target='#demo' data-bs-slide-to='1')
    button(type='button' data-bs-target='#demo' data-bs-slide-to='2')
    button(type='button' data-bs-target='#demo' data-bs-slide-to='3')
    button(type='button' data-bs-target='#demo' data-bs-slide-to='4')
  div
    div
      img.d-block.img-fluid(src='image/2.jpg', alt='Los Angeles')
      .carousel-caption(style='font-family:serif;')
        p#selector(href='#') &#217;&#646;ARM  
        p Your number one supplier of agricultural products. 
        p  We lead and others follow.
        p +256-755174746
        a.btn.btn-success(href='/seelistedlist') Booking
        // End of background image
.text-bg-dark.p-3
  h1.centered  FARM PRODUCTS
  |  We are proud of the products which we supply and the efforts we put into them. Our product development wing constantly puts in great effort to transform the model of farming in the field. Our goal is to serve farmers by setting standards of quality, services and commitment to them.Our journey has also made us farmers, and we run a 7 farm supplying Hoticulture, Poultry and Dairy Products   to the local market. We cannot advocate change unless we do it ourselves! Our farm is an open welcoming place ready to learn and teach. We aim to be fully ecological in 2023, supplying safe food of the highest quality. We conduct business with Ethics & Integrity. Our goal is to serve farmers by setting standards of quality, services and commitment to them. We measure our success based on the satisfaction of our valued farmers.  
// Cards
.container-fluid.bgcolor2
  .container.bgcolor2
    .row
      .col-lg-4.col-md-6.col-12
        .card-deck
          .card.mb-4
            img.card-img-top.img-fluid(src='image/3.jpg' alt='Card image cap')
            .card-body
              h4.card-title Dairy
              p.card-text
                | We have a number of best dairy products on the local market. we pack them in small, medium and large quanties .
              p.card-text
                small.text-muted delivery at affordable price
              a.btn.btn-success(href='/seelistedlist') Booking
      .col-lg-4.col-md-6.col-12
        .card-deck
          .card.mb-4
            img.card-img-top.img-fluid(src='image/6.jpg' alt='Card image cap')
            .card-body
              h4.card-title Poultry
              p.card-text
                | We now celebrate five years of success on the market supplying the best poultry products to the local market.
              p.card-text
                small.text-muted we deliver at an affordable price
              a.btn.btn-success(href='/seelistedlist') Booking
      .col-lg-4.col-md-6.col-12
        .card-deck
          .card.mb-4
            img.card-img-top.img-fluid(src='image/4.jpg' alt='Card image cap')
            .card-body
              h4.card-title Horticulture
              p.card-text
                | We supply fresh vegetables and fruits from our gardens.Our vegetables are fresh and clean
              p.card-text
                small.text-muted we home delivery and pickup
              a.btn.btn-success(href='/seelistedlist') Booking
// end of products
.container-fluid(style='padding: 20px;')
  p
  h1.centered
    strong
      | Market at your door 
      i.bi.bi-cart4(style='color:green ;')
  p
// footer
footer.footer
  .container.bottom_border
    .row
      .col-md-4.col-md.col-sm-4.col-12.col
        h5.headin5_amrc.col_white_amrc.pt2 Find us
        // headin5_amrc
        p.mb10
          | Contact us today
        p
          i.fa.fa-phone
          |   +256-755174746
        p
          i.fa.fa-phone
          |   +256-776620895
        p
          i.fa.fa.fa-envelope
          |  ufarm2567@gmail.com
      .col-md-4.col-md.col-6.col
        h5.headin5_amrc.col_white_amrc.pt2 Location
        // headin5_amrc
        ul.footer_ul_amrc
          li
            a(href='#') We are located at
          li
            a(href='#') Massajja Division
          li
            a(href='#') P.O.BOX,2567
          li
            a(href='#') Massajja.
         
        // footer_ul_amrc ends here
      .col-md-4.col-md.col-6.col
        h5.headin5_amrc.col_white_amrc.pt2 About Us
        // headin5_amrc
        ul.footer_ul_amrc
          li
            a(href='#') We are Ufarm uganda
          li
            a(href='#') we  are advancing Ugandas 
          li
            a(href='#') Agriculural and
          li
            a(href='#') Market Sector.
          li
            a(href='#') We deal in Dairy, Poultry
          li
            a(href='#') and Horticulture Production.
        
  .container
    ul.foote_bottom_ul_amrc
      li
        a(href='/ufarm') Home
      li
        a(href='/seelistedlist') Market
      li
        a(href='#') Contact
    // foote_bottom_ul_amrc ends here
    p.text-center
      | Copyright @2022 | Designed With by  Massajja Urban farmers Initiative
    ul.social_footer_ul
      li
        a(href='')
          i.fab.fa-facebook-f
      li
        a(href='')
          i.fab.fa-linkedin
script(src='bootstrap/js/bootstrap.bundle.js')
