doctype html
head
  meta(charset='utf-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  title Page Title
  meta(name='viewport' content='width=device-width, initial-scale=1')
  link(href='bootstrap/css/bootstrap.css' rel='stylesheet')
  link(rel='stylesheet' type='text/css' media='screen' href='css/main.css')
  link(href='../css/produce.css' rel='stylesheet')
  script(src='main.js')
  link(rel='stylesheet' href='https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css')
  link(rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous")

// nav bar
nav.navbar.navbar-expand-lg.fixed-top.navbgcolor
  .container-fluid
    a.navbar-brand.white(href='#')
      h4  UFARM
    button.navbar-toggler(type='button', data-bs-toggle='collapse', data-bs-target='#navbarSupportedContent', aria-controls='navbarSupportedContent', aria-expanded='false', aria-label='Toggle navigation')
      span.navbar-toggler-icon
    #navbarSupportedContent.collapse.navbar-collapse
      ul.navbar-nav.me-auto.mb-2.mb-lg-0
        li.nav-item.dropdown
          a.nav-link.dropdown-toggle(href='#' role='button' data-bs-toggle='dropdown' aria-expanded='false', style='color:white;')
            | Market
          ul.dropdown-menu
            li
              a.dropdown-item(href='#') Pricing
            li
              a.dropdown-item(href='#') Make booking
            li
              hr.dropdown-divider
            li
              a.dropdown-item(href='#') Something else here
        li
          a.nav-link.white(aria-current='page', href='#') Home
        li
          a.nav-link.white(href='#') About Us
      form.d-flex
        .container-fluid
          a.navbar-brand.white(href='#')
            a.btn.btn-success(href='#') Login
          button.navbar-toggler(type='button' data-bs-toggle='collapse' data-bs-target='#navbarSupportedContent', aria-controls='navbarSupportedContent', aria-expanded='false', aria-label='Toggle navigation')
            span.navbar-toggler-icon
          #navbarSupportedContent.collapse.navbar-collapse
// Carousel
#demo.carousel.slide(data-bs-ride='carousel' carousel-caption='' align-items-center='' d-flex='')
  // Indicators/dots
  .carousel-indicators
    button.active(type='button', data-bs-target='#demo', data-bs-slide-to='0')
    button(type='button' data-bs-target='#demo' data-bs-slide-to='1')
    button(type='button' data-bs-target='#demo' data-bs-slide-to='2')
    button(type='button' data-bs-target='#demo' data-bs-slide-to='3')
    button(type='button' data-bs-target='#demo' data-bs-slide-to='4')
  div
    div
      img.d-block.img-fluid(src='image/2.jpg', alt='Los Angeles')
      .carousel-caption.green
        h3 Your number one supplier of agricultural products. 
        p  We lead and others follow.
        p +90 850 111 11 11
        button.btn.btn-success(type='button', a='', href='#', style='height:60px ;') Go somewhere
// End of background image
.text-bg-dark.p-3
  h1.center  FARM PRODUCTS
  |   Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eveniet iste ullam sapiente optio beatae mollitia, magni, nostrum doloremque corporis maiores, natus dolores. Soluta accusamus vero aut ipsa, numquam vitae omnis?
// Cards
.container-fluid.bgcolor2
  .container.bgcolor2
    .row
      .col-lg-4.col-md-6.col-12
        .card-deck
          .card.mb-4
            img.card-img-top.img-fluid(src='image/3.jpg', alt='Card image cap')
            .card-body
              h4.card-title Spicy nyama
              p.card-text
                | This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.
              p.card-text
                small.text-muted Last updated 3 mins ago
              a.btn.btn-success(href='#') Go somewhere
      .col-lg-4.col-md-6.col-12
        .card-deck
          .card.mb-4
            img.card-img-top.img-fluid(src='image/6.jpg', alt='Card image cap')
            .card-body
              h4.card-title Chocolate yoghurt
              p.card-text
                | This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.
              p.card-text
                small.text-muted Last updated 3 mins ago
              a.btn.btn-success(href='#') Go somewhere
      .col-lg-4.col-md-6.col-12
        .card-deck
          .card.mb-4
            img.card-img-top.img-fluid(src='image/4.jpg', alt='Card image cap')
            .card-body
              h4.card-title Chicken to night
              p.card-text
                | This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.
              p.card-text
                small.text-muted Last updated 3 mins ago
              a.btn.btn-success(href='#') Go somewhere
// end of products
.container-fluid(style='padding: 20px;')
  p
  h1.center
    strong
      | Market at your door 
      i.bi.bi-cart4(style='color:green ;')
  p
// footer
footer.footer
  .container.bottom_border
    .row
      .col-md-4.col-md.col-sm-4.col-12.col
        h5.headin5_amrc.col_white_amrc.pt2 Find us
        // headin5_amrc
        p.mb10
          | Contact us today
        p
          i.fa.fa-phone
          |   +256-755174746
        p
          i.fa.fa-phone
          |   +256-776620895
        p
          i.fa.fa.fa-envelope
          |  ufarm2567@gmail.com
      .col-md-4.col-md.col-6.col
        h5.headin5_amrc.col_white_amrc.pt2 Location
        // headin5_amrc
        ul.footer_ul_amrc
          li
            a(href='#') We are located at
          li
            a(href='#') Massajja Division
          li
            a(href='#') P.O.BOX,2567
          li
            a(href='#') Massajja.
         
        // footer_ul_amrc ends here
      .col-md-4.col-md.col-6.col
        h5.headin5_amrc.col_white_amrc.pt2 About Us
        // headin5_amrc
        ul.footer_ul_amrc
          li
            a(href='#') We are Ufarm uganda
          li
            a(href='#') we  are advancing Ugandas 
          li
            a(href='#') Agriculural and
          li
            a(href='#') Market Sector.
          li
            a(href='#') We deal in Dairy, Poultry
          li
            a(href='#') and Horticulture Production.
        
  .container
    ul.foote_bottom_ul_amrc
      li
        a(href='/registerhome') Home
      li
        a(href='/seelistedlist') Market
      li
        a(href='#') Contact
    // foote_bottom_ul_amrc ends here
    p.text-center
      | Copyright @2022 | Designed With by  Massajja Urban farmers Initiative
    ul.social_footer_ul
      li
        a(href='')
          i.fab.fa-facebook-f
      li
        a(href='')
          i.fab.fa-linkedin
script(src='bootstrap/js/bootstrap.bundle.js')
