doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport', content='width=device-width, initial-scale=1.0')
  meta(http-equiv='X-UA-Compatible', content='ie=edge')
  title Availability Form
  link(rel='stylesheet' href='css/login.css')
  link(rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous")
  style.
    body {
    background-color:brown;
    }
body
  .col-sm-5.mx-auto.my-12
    .card.text-center.bg-success
      .card-header.d-inline-flex.mx-auto
            form(method="POST" action='/logout')
              button.btn.btn-style.btn-light(type='') Logout
            form(method="GET" action='/FarmerOneList')
              button.btn.btn-style.btn-dark(type='') Cancel
      .card-body
        h5.card-title FARMER ONE UPDATE FORM
        form.tm-login-form(action='/farmerOne/update/?id='+farmerone._id name='farmeroneupdate' method='post')
          .form-group
            label(for='names') Names
            input#names.rounded.form-control-2(type='text', name='names', placeholder='Fullname' value=farmerone.names)
          .form-group
            label(for='phone') Phone
            input#phone.rounded.form-control-2(type='text', name='phone', placeholder='Phone' value=farmerone.phone)
          .form-group
            label(for='address') Address 
            input#address.rounded.form-control-2.form-float(type='text', name='address', placeholder='Address' value=farmerone.address)
          .form-group
            label(for='ward') Ward
            select#ward.rounded(name='ward')
              option(value='select ward') Change Ward
              option(value='WardA' selected = farmerone.ward === "WardA") Ward A
              option(value='wardB' selected = farmerone.ward === "WardB") ward B
              option(value='wardC' selected = farmerone.ward === "WardC") ward C
              option(value='wardD' selected = farmerone.ward === "WardD") ward D
          .form-group
            label(for='activity') Activity
            select#activity.rounded(name='activity')
              option(value='select activity') Activity done 
              option(value='Dairy' selected = farmerone.activity === "Dairy") Dairy
              option(value='Poultry' selected = farmerone.activity === "Poultry") Poultry
              option(value='Hoticulture' selected = farmerone.activity === "Hoticulture") Hoticulture
          .form-group
            button.btn.btn-dark.d-inline-block.mx-auto(type='submit') Update
          .form-group
            p
              em press Update to save changes
      footer.row.tm-mt-big
        .col-12.font-weight-light.text-center
          p.d-inline-block.tm-bg-black.text-white.py-2.px-4
            | &copy; Massajja Urban farmers initiative. All rights reserved
      .card-footer.text-muted.mx-auto
        | market at your door

      
      
      
